.search-page-title{
    text-align: center;
    color: #EEE;
}

.search {
    margin-top: 18px;
    border-radius: 4px;
    box-shadow: 0 0 2px #EEEEEE;
    background-color: #393E46;
    padding: 8px;
}

.search-content {
    position: relative;
    border-radius: 16px;
    background-color: #393E46;
    margin-bottom: 18px;
}