.drawer {
    width: 400px;
    height: 100vh;
    background-color: #393E46;
    position: fixed;
    z-index: 100;
    right: -400px;
    transition: 0.3s;
}

.show {
    right: 0;
}

.drawer-close-icon {
    display: flex;
    justify-content: end;
    padding: 16px;
}

.drawer-content {
    display: flex;
    flex-direction: column;
}

.drawer-list {
    list-style: none;
    margin: 0;
    padding: 8px;
}

.drawer-list>li {
    font-size: 18px;
    color: #EEE;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
 
}

.drawer-list>li:hover {
    background-color: #222831;
}

.drawer-list>li>a {
    color: #EEE;
    padding: 12px 8px;
    text-decoration: none;
    width: 100%;
    display: inline-block;
}